<script src="/assets/lib/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/assets/lib/bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/admin/0.js?<%= assets.version %>"></script>
<script src="/assets/js/admin/1.js?<%= assets.version %>"></script>
<script src="/assets/js/admin/2.js?<%= assets.version %>"></script>
<script src="/assets/js/admin/3.js?<%= assets.version %>"></script>
<script src="/assets/js/admin/4.js?<%= assets.version %>"></script>
